
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Timetables</h1>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Dag 1</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tijd</th>
                                <th>Evenement</th>
                                <th>Locatie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09:00 - 10:00</td>
                                <td>Activiteit 1</td>
                                <td>Lokaal 1</td>
                            </tr>
                            <tr>
                                <td>10:00 - 11:00</td>
                                <td>Activiteit 2</td>
                                <td>Lokaal 2</td>
                            </tr>
                            <tr>
                                <td>11:00 - 12:00</td>
                                <td>Activiteit 3</td>
                                <td>Lokaal 3</td>
                            </tr>
                            <tr>
                                <td>12:00 - 13:00</td>
                                <td>Activiteit 4</td>
                                <td>Lokaal 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Dag 2</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tijd</th>
                                <th>Evenement</th>
                                <th>Locatie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09:00 - 10:00</td>
                                <td>Activiteit 1</td>
                                <td>Lokaal 1</td>
                            </tr>
                            <tr>
                                <td>10:00 - 11:00</td>
                                <td>Activiteit 2</td>
                                <td>Lokaal 2</td>
                            </tr>
                            <tr>
                                <td>11:00 - 12:00</td>
                                <td>Activiteit 3</td>
                                <td>Lokaal 3</td>
                            </tr>
                            <tr>
                                <td>12:00 - 13:00</td>
                                <td>Activiteit 4</td>
                                <td>Lokaal 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Dag 3</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tijd</th>
                                <th>Evenement</th>
                                <th>Locatie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09:00 - 10:00</td>
                                <td>Activiteit 1</td>
                                <td>Lokaal 1</td>
                            </tr>
                            <tr>
                                <td>10:00 - 11:00</td>
                                <td>Activiteit 2</td>
                                <td>Lokaal 2</td>
                            </tr>
                            <tr>
                                <td>11:00 - 12:00</td>
                                <td>Activiteit 3</td>
                                <td>Lokaal 3</td>
                            </tr>
                            <tr>
                                <td>12:00 - 13:00</td>
                                <td>Activiteit 4</td>
                                <td>Lokaal 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
